@model dynamic
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>SecIntel Sample</title>
</head>
<body>
    <div>
        @* appsec_web_mvc_rz_rawhtml *@
        @* Not working as of now *@
        @Html.Raw("sdfsfsf")
    </div>
</body>
</html>